/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ 
/* 
    Created on : 25.10.2015, 16:39:58
    Author     : Florian Kittel
*/

@import 'reset';
body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin: 0;
}

